VITE_CONTACT_EMAIL=contato@exemplo.com
VITE_CONTACT_WHATSAPP=5511999999999

VITE_EMAILJS_SERVICE_ID=service_xxxxxxx
VITE_EMAILJS_TEMPLATE_ID=template_xxxxxxx
VITE_EMAILJS_PUBLIC_KEY=xxxxxxxxxxxxxxxxxxxxxx
